Source: django-group-access
Section: python
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Mike Heald <mike.heald@canonical.com>
Build-Depends: debhelper, python, python-setuptools, python-virtualenv
Standards-Version: 3.9.3

Package: python-django-group-access
Architecture: all
Homepage: https://launchpad.net/django-group-access
Depends: python-django (>= 1.2),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: Group based access for django models
 Base Django model to add access control, via groups, to objects.
